bibliography.bib
*.o
*.aux
*.fdb_latexmk
*.fls
*.log
*-blx.bib
*.bbl
*.blg
*.run.xml
*.toc
*.out
*.swp

*~
*.backup
*.bak
*.pdf

/code/b
/code-joseph/jacobi
/code-joseph/jacobi_step_data

*.dat
*.data
