bibliography.bib
*.o
*.aux
*.fdb_latexmk
*.fls
*.log
*-blx.bib
*.bbl
*.blg
*.run.xml
*.toc
*.out
*.swp

*~
*.backup
*.bak
*.pdf

/code-fredrik/b
/code-fredrik/d
/code-fredrik/b.test
/code-joseph/jacobi
/code-joseph/jacobi_step_data
/code-joseph/jacobi_interact

*.dat
*.data
